---
const { article } = Astro.props;
const { data } = article;
const { title } = data;
---

<div 
class="fb-comments w-[1400px]" 
data-href={`http://localhost:4321`} 
data-colorscheme="light" 
data-width="1000" 
data-numposts="20"></div>